.custom-row {
	margin: 20px 20px 20px 5%;
	padding: 0px 40px 25px 10px;
	text-align: left;
    display: flex;
	justify-content: center;
}

.form-horizontal {
	padding: 5px 
}

.form-group {
	padding-top: 0px;

}

.control-label {
	padding-top: 0px;
}

  
.button-row .mat-button-base {
	margin: 8px 8px 8px 0;
}
  
.flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
  
.button-container {
	display: flex;
	justify-content: center;
	width: 120px;
}